@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Lexend+Mega&family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap");

body {
  font-family: "Kumbh Sans", sans-serif;
}

.boldedText {
  font-size: 18px;
  font-weight: 700;
}

.age {
  color: gray;
  padding-left: 0.5em;
}

.grayText {
  color: gray;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 0.1em;
}

.grayText2 {
  color: gray;
  font-weight: 400;
  font-size: 13px;
}

.city {
  font-size: 15px;
  padding-top: 1em;
}

.container {
  background: rgb(54, 219, 231);
  background-size: contain;
  width: 100%;
  min-height: 978px;
  display: flex;
  justify-content: center;
}

.containerBackground {
  position: relative;
}

.innerBackground {
  height: 40%;
}

.innerContainer {
  display: flex;
  background: white;
  width: 350px;
  height: 358px;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5%;
  position: absolute;
  z-index: 1;
  display: flex;
}

.profilePicture {
  background: url(images/victor.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  width: 25%;
  height: 25%;
  display: flex;
  position: absolute;
  top: 25%;
  border-radius: 50%;
  border: 5px solid white;
  align-self: center;
}

.infoContainer {
  display: flex;
  justify-content: center;
  background-color: white;
  height: 40%;
}

.profileInfo {
  height: 40%;
  background-color: white;
  text-align: center;
  padding-bottom: 2%;
  /* line-height:11; */
  display: flex;
  /* align-items: end; */
  flex-direction: column;
  align-self: flex-end;
}

.profileStats {
  height: 20%;
  background-color: white;
  display: flex;
  justify-content: center;

  text-align: center;
  align-items: center;
  border-top: 1px solid rgb(211, 211, 211);
}

.member {
  padding: 5px;
  flex: 1;
}
